$monopoly-green: #cde6d0
$brown: #955436
$lightblue: #AAE0FA
$pink: #D93A96
$orange: #F7941D
$red: #ED1B24
$yellow: #FEF224
$green: #1FB25A
$darkblue: #0072BB
$block-border: 2px solid #000

body
  background-color: $monopoly-green

#railroads-count, #utilities-count, #houses-count
  .slider-selection
    background: #BABABA

.block
  border: $block-border
  height: 12.5%
  margin-left: -2px
  margin-bottom: -2px

.block-top
  border-bottom: $block-border
  height: 25%
  width: 100%

.block-main
  height: 75%
  width: 100%
  text-align: center

.block-name
  font-size: 0.5em

.block-price
  font-size: 0.5em

.block-brown
  background-color: $brown

.block-lightblue
  background-color: $lightblue

.block-pink
  background-color: $pink

.block-orange
  background-color: $orange

.block-red
  background-color: $red

.block-yellow
  background-color: $yellow

.block-green
  background-color: $green

.block-darkblue
  background-color: $darkblue

.no-pad
  padding-left: 0
  padding-right: 0

.settings-box
  background-color: $monopoly-green
  margin: 30px
  border: 4px solid #000

.slider-label
  margin-right: 15px
