$monopoly-green: #cde6d0
$brown: #955436
$lightblue: #AAE0FA
$pink: #D93A96
$orange: #F7941D
$red: #ED1B24
$yellow: #FEF224
$green: #1FB25A
$darkblue: #0072BB
$block-border: 2px solid #000

body
  background-color: $monopoly-green

.block
  border: $block-border
  margin-left: -2px
  margin-bottom: -2px
  word-wrap: break-word

.block-top
  border-bottom: $block-border
  height: 25%
  width: auto

.block-main
  height: auto
  width: auto
  text-align: center
  vertical-align: middle
  overflow: inherit

.block-name
  font-size: 1.5em

.block-price
  font-size: 1.5em

.block-brown
  background-color: $brown

.block-lightblue
  background-color: $lightblue

.block-pink
  background-color: $pink

.block-orange
  background-color: $orange

.block-red
  background-color: $red

.block-yellow
  background-color: $yellow

.block-green
  background-color: $green

.block-darkblue
  background-color: $darkblue

.no-pad
  padding-left: 0
  padding-right: 0

.settings-box
  background-color: $monopoly-green
  width: 80%
  margin: 30px
  border: 4px solid #000

.slider-label
  margin-right: 15px
  padding-top: 5px
  padding-bottom: 5px
  font-size: 1.2em

.slider.rzslider .rz-bar
  background-color: #FFF

.slider.rzslider .rz-selection
    background: #BABABA

.col-xs-11
  width: 9%
  float: left
