//- head.pug

head
  title= "monoprobability"
  
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
  link(rel="stylesheet", href="/css/main.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.1.0/rzslider.css")

  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js")
  script(src="/js/monoprobability.js")
  script(src="/js/settings.js")
  script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.1.0/rzslider.js")
