mixin property-block(name, index, color_class)
  div.col-xs-11
    div.block.h-50
      if color_class
        div.block-top(class=color_class)
      div.block-main
        p.block-name= name
        p.block-price= "{{squares[" + index + "].norm_value}}"

html(ng-app="monoprobabilityApp")
  include head.pug
  body(ng-controller="OptimizationController")
    include settings-box.pug
    div.container-fluid
      div.row.justify-content-between
        +property-block("Go", 0)
        +property-block("Mediterranean Avenue", 1, "block-brown")
        +property-block("Community Chest", 2)
        +property-block("Baltic Avenue", 3, "block-brown")
        +property-block("Income Tax", 4)
        +property-block("Reading Railroad", 5)
        +property-block("Oriental Avenue", 6, "block-lightblue")
        +property-block("Chance", 7)
        +property-block("Vermont Avenue", 8, "block-lightblue")
        +property-block("Connecticut Avenue", 9, "block-lightblue")
        +property-block("Jail", 10)

      div.row.justify-content-between
        +property-block('Boardwalk', 39, "block-darkblue")
        +property-block("St. Charles Place", 11, "block-pink")

      div.row.justify-content-between
        +property-block('Luxury Tax', 38)
        +property-block('Electric Company', 12)

      div.row.justify-content-between
        +property-block('Park Place', 37, "block-darkblue")
        +property-block('States Avenue', 13, "block-pink")

      div.row.justify-content-between
        +property-block('Chance(36)', 36)
        +property-block('Virginia Avenue', 14, "block-pink")

      div.row.justify-content-between
        +property-block('Short Line', 35)
        +property-block('Pennsylvania Railroad', 15)

      div.row.justify-content-between
        +property-block('Pennsylvania Avenue', 34, "block-green")
        +property-block('St. James Place', 16, "block-orange")

      div.row.justify-content-between
        +property-block('Community Chest(33)', 33)
        +property-block('Community Chest(17)', 17)

      div.row.justify-content-between
        +property-block('North Carolina Avenue', 32, "block-green")
        +property-block('Tennessee Avenue', 18, "block-orange")
        
      div.row.justify-content-between
        +property-block('Pacific Avenue', 31, "block-green")
        +property-block('New York Avenue', 19, "block-orange")
        
      div.row.justify-content-between
        +property-block('Free Parking', 20)
        +property-block('Kentucky Avenue', 21, "block-red")
        +property-block('Chance(22)', 22)
        +property-block('Indiana Avenue', 23, "block-red")
        +property-block('Illinois Avenue', 24, "block-red")
        +property-block('B. & O. Railroad', 25)
        +property-block('Atlantic Avenue', 26, "block-yellow")
        +property-block('Ventnor Avenue', 27, "block-yellow")
        +property-block('Water Works', 28)
        +property-block('Marvin Gardens', 29, "block-yellow")
        +property-block('Go to Jail', 30)
