mixin property-block(name, price, color_class, offset)
  div.no-pad.col-lg-1.col-md-1(class="col-lg-offset-" + offset + " col-md-offset-" + offset + " col-sm-offset-" + offset + " col-xs-offset-" + offset)
    div.block
      div.block-top(class=color_class)
      div.block-main
        p.block-name= name
        p.block-price= price

html(ng-app="monoprobabilityApp")
  include head.pug
  body
    include settings-box.pug
    div(ng-controller="OptimizationController as optimize")
      input(type="text" placeholder="Enter a name here")
      h1.
        RR {{RailroadModel}}
        H {{HouseModel}}
        U {{UtilityModel}}
    div.container-fluid
      div.row
        +property-block("Go", "0", "block-brown", "1")
        +property-block("Mediterranean Avenue", "60", "block-brown", "")
        +property-block("Community Chest", "0", "block-brown")
        +property-block("Baltic Avenue", "60", "block-brown")
        +property-block("Income Tax", "0", "block-brown")
        +property-block("Reading Railroad", "200", "block-brown")
        +property-block("Oriental Avenue", "100", "block-brown")
        +property-block("Chance", "$0", "block-brown")
        +property-block("Vermont Avenue", "100", "block-brown")
        +property-block("Connecticut Avenue", "120", "block-brown")
        +property-block("Jail", "0", "block-brown")

      div.row
        +property-block("St. Charles Place", "$140", "block-brown", "1")
        +property-block("States Avenue", "$5", "block-green", "8")

      div.row
        +property-block("Park Place", "$26", "block-brown", "1")
        +property-block("This", "$5", "block-green", "8")

      div.row
        +property-block("Park Place", "$26", "block-brown", "1")
        +property-block("This", "$5", "block-green", "8")

      div.row
        +property-block("Park Place", "$26", "block-brown", "1")
        +property-block("This", "$5", "block-green", "8")

      div.row
        +property-block("Park Place", "$26", "block-brown", "1")
        +property-block("This", "$5", "block-green", "8")

      div.row
        +property-block("Park Place", "$26", "block-brown", "1")
        +property-block("This", "$5", "block-green", "8")

      div.row
        +property-block("Park Place", "$26", "block-brown", "1")
        +property-block("This", "$5", "block-green", "8")

      div.row
        +property-block("Park Place", "$26", "block-brown", "1")
        +property-block("This", "$5", "block-green", "8")

      div.row
        +property-block("Go", "0", "block-brown", "1")
        +property-block("Mediterranean Avenue", "60", "block-brown")
        +property-block("Community Chest", "0", "block-brown")
        +property-block("Baltic Avenue", "60", "block-brown")
        +property-block("Income Tax", "0", "block-brown")
        +property-block("Reading Railroad", "200", "block-brown")
        +property-block("Oriental Avenue", "100", "block-brown")
        +property-block("Chance", "$0", "block-brown")
        +property-block("Vermont Avenue", "100", "block-brown")
        +property-block("Connecticut Avenue", "120", "block-brown")
