mixin settings-slider(name)
  div.col-xs-12.col-sm-6.col-md-4.col-lg-3
    div.slider-label
      span
        |#{name} Count
    rzslider(rz-slider-model=name+"Slider.value" rz-slider-options=name+"Slider.options" class="slider")

div.container-fluid.settings-box
  +settings-slider("Railroad")
  +settings-slider("Utility")
  +settings-slider("House")
